body {
  background-color: rgb(245, 245, 245);
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
